.chain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chain__heading {
  margin: 24px 0 4px 0;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: $color-second;
}

.chain__subheading {
  margin: 0 0 24px 0;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: $gray-dark;
}

.chain__common-info {
  width: 100%;
  margin: 0 0 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;

  &_hidden {
    display: none;
  }
}

.chain__info {
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px 12px 20px;
  display: flex;
  flex-direction: column;
  background-color: $whitest;
  border-radius: 12px;
}

.chain__info-heading {
  font-weight: 300;
  font-size: 14px;
  color: $gray-dark;
}

.chain__info-data {
  margin: 8px 0 0 0;
  font-weight: 600;
  font-size: 16px;
  color: $color-main;

  span {
    margin: 0 0 0 6px;
    font-weight: 300;
    font-size: 14px;
    color: $gray-dark;
  }
}